.forecast-week {
  text-align: center;
  margin-left: 6px;
  margin-top: -120px;
  margin-left: 15px;
}
.forecast-day {
  font-family: "Poppins", sans-serif;
  color: #6d6e6f;
  font-weight: 400;
  font-size: 20px;
}
.col-2 {
  margin-right: 10px;
}

.weather {
  margin-top: 12px;
}

.high-temp {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #dfa73e;
}
.low-temp {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: #6d6e6f;
}
